<!-- Rendered by admin-controller -->
<%- include('./layout.ejs') %>
<link rel="stylesheet" href="../public/styles/admin-form.css" />
<header>
  <h1><a href="/">Dashboard</a></h1>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout">Logout</button>
  </form>
</header>
<main>
  <h1>Become an admin!</h1>
  <form action="/become-admin" method="POST" id="admin-form">
    <input
      type="text"
      name="admin-password"
      id="admin-password"
      placeholder="Enter admin password"
      required
      aria-label="Password"
    />
    <button type="submit" aria-label="Submit button" id="submit-btn">
      Become an admin
    </button>
    <% if (responses) { %> <% responses.forEach((response) => { %>
    <p class="response"><%= response.msg %></p>
    <% }) %> <% } %>
  </form>
</main>
