body {
  min-width: 350px;
}

header {
  align-items: center;
  box-shadow: 1px 2px 10px #f2e8dc;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

header > h1 {
  color: #4648aa;
}

header a {
  color: #4648aa;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 35px;
}

main,
form {
  /* Descendants: */
  align-items: center;
  display: flex;
  flex-direction: column;
}

main > h1 {
  color: #4648aa;
  font-size: 35px;
}

form {
  gap: 35px;
  margin-top: 35px;
  width: 100%;
}

form > div {
  max-width: 500px;
  width: 100%;

  /* Descendants: */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label,
label::after {
  font-size: 20px;
}

label::after {
  color: red;
  content: ' *';
}

input,
button {
  height: 55px;
  width: 100%;
}

input {
  border: 2px solid #d3d3d3;
  border-radius: 8px;

  /* Text field */
  font-size: 15px;
  padding-left: 15px;
}

button {
  background-color: #4648aa;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
